In [12]:
# Import Pandas and NumPy libraries
import pandas as pd
import numpy as np

# Load csv file data and put it into Pandas dataframe
filename = 'titanic_data.csv'
titanic_df = pd.read_csv(filename)

In [32]:
# Group data by survival, since it is a study about titanic survived people
grouped_survival = titanic_df.groupby('Survived')
print grouped_survival.size()

Survived
0    549
1    342
dtype: int64

In [33]:
# Simple Mean calculation between Survived and not
def mean_compare(factor):
    return grouped_survival.mean()[factor]

# Age vs. Survival
print mean_compare('Age')
print ''

# Pclass vs. Survival
print mean_compare('Pclass')
print '' 

# Number of Siblings/Spouses Aboard vs. Survival
print mean_compare('SibSp')
print '' 

# Number of Parents/Children Aboard vs. Survival
print mean_compare('Parch')
print '' 

# Fare vs. Survival
print mean_compare('Fare')

Survived
0    30.626179
1    28.343690
Name: Age, dtype: float64

Survived
0    2.531876
1    1.950292
Name: Pclass, dtype: float64

Survived
0    0.553734
1    0.473684
Name: SibSp, dtype: float64

Survived
0    0.329690
1    0.464912
Name: Parch, dtype: float64

Survived
0    22.117887
1    48.395408
Name: Fare, dtype: float64

In [ ]:

# Sex vs. Survival
print titanic_df.groupby('Sex').sum()['Survived']
print '' # Empty line

# Embarked vs. Survival
print titanic_df.groupby('Embarked').sum()['Survived']
print '' # Empty line